In [ ]:
# !pip install sqlite3
import sqlite3

In [ ]:
# create a connection o sqlite DB
conn = sqlite3.connect('test.db')

In [ ]:
# create a cursor object to execute sql commands
cursor = conn.cursor()

In [ ]:
# create sql table
cursor.execute(
'''
CREATE TABLE IF NOT EXISTS employees(
  id INTEGER PRIMARY KEY,
   name TEXT NOT NULL,
    age INTEGER,
    department TEXT
    )
    ''')

In [ ]:
# insert data into tatble
cursor.execute("INSERT INTO employees (name,age,department) VALUES (?,?,?)",('John', 30, 'IT'))

In [ ]:
# retrieve data
cursor.execute("SELECT * FROM employees")

In [ ]:
rows = cursor.fetchall()

In [ ]:
rows

[(1, 'John', 30, 'IT')]

In [ ]:
conn.commit()

In [ ]:
conn.close()

In [ ]:
rows

[(1, 'John', 30, 'IT')]

In [ ]:
# insert data into tatble
cursor.execute("INSERT INTO employees (name,age,department) VALUES (?,?,?)",('Ammy', 30, 'HR'))

ProgrammingError: Cannot operate on a closed database.